<br/>
<h1>Edit holler</h1>

<%= render "form", holler: @holler %>

<br>
<%# <div class = "text-center"> %>
<div>
  <%= link_to "Back", hollers_path, class: "btn btn-info" %>
  <%= link_to "Show Holler", @holler, class: "btn btn-info" %>&nbsp;
</div>
