
<div class = "text-center">
<%# class="h-100 row align-items-center" %>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <h1>Hola!</h1>
    <p>Welcome to Holler!</p>
    <a href="/hollers/" class="btn btn-info">Check out Holler</a>
    <br/><br/>
<div>

<%# <p>Find me in app/views/home/index.html.erb</p> %>
